In [0]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances
from sklearn.model_selection import train_test_split
import pickle

In [0]:
movies = pd.read_csv("/content/datanam.csv",encoding="Latin1")
Ratings = pd.read_csv("/content/datarat.csv")
Tags = pd.read_csv("/content/datatag.csv",encoding="Latin1")
Rating,Test=train_test_split(Ratings,test_size=0.2)

Mean = Rating.groupby(by="customer_id",as_index=False)['reviews.rating'].mean()
Rating_avg = pd.merge(Rating,Mean,on='customer_id')
Rating_avg['adg_rating']=Rating_avg['reviews.rating_x']-Rating_avg['reviews.rating_y']
Rating_avg.head()

   product_id  reviews.rating_x  customer_id  reviews.rating_y  adg_rating
0         927               5.0      4361811          4.166667    0.833333
1       11234               5.0      4361811          4.166667    0.833333
2         971               5.0      4361811          4.166667    0.833333
3        1567               4.0      4361811          4.166667   -0.166667
4       14224               5.0      4361811          4.166667    0.833333

In [0]:
Rating_avg.head()

   product_id  reviews.rating_x  customer_id  reviews.rating_y  adg_rating
0         927               5.0      4361811          4.166667    0.833333
1       11234               5.0      4361811          4.166667    0.833333
2         971               5.0      4361811          4.166667    0.833333
3        1567               4.0      4361811          4.166667   -0.166667
4       14224               5.0      4361811          4.166667    0.833333

In [0]:
Rating.head()

      product_id  reviews.rating  customer_id
1157         927             5.0      4361811
3452        7182             5.0     14783707
5890       14224             5.0      6301648
3630       15268             5.0     30646298
5744       14224             5.0     47454014

In [0]:
check = pd.pivot_table(Rating_avg,values='reviews.rating_x',index='customer_id',columns='product_id')
check.head()

product_id   12      60      102     162     ...  61723   71521   78129   517162
customer_id                                  ...
97309           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
110441          NaN     NaN     NaN     NaN  ...     5.0     NaN     NaN     NaN
111930          NaN     NaN     NaN     NaN  ...     5.0     NaN     NaN     NaN
111932          NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
115345          NaN     NaN     NaN     NaN  ...     1.0     NaN     NaN     NaN

[5 rows x 47 columns]

In [0]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='customer_id',columns='product_id')
final.head()

product_id   12      60      102     162     ...  61723   71521   78129   517162
customer_id                                  ...
97309           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
110441          NaN     NaN     NaN     NaN  ...   0.000     NaN     NaN     NaN
111930          NaN     NaN     NaN     NaN  ...   0.375     NaN     NaN     NaN
111932          NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
115345          NaN     NaN     NaN     NaN  ...  -2.750     NaN     NaN     NaN

[5 rows x 47 columns]

In [0]:
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)
final_user.head()

product_id         12            60      ...        78129         517162
customer_id                              ...
97309        3.552714e-16  3.552714e-16  ...  3.552714e-16  3.552714e-16
110441       0.000000e+00  0.000000e+00  ...  0.000000e+00  0.000000e+00
111930       8.928571e-02  8.928571e-02  ...  8.928571e-02  8.928571e-02
111932       2.960595e-16  2.960595e-16  ...  2.960595e-16  2.960595e-16
115345      -3.571429e-02 -3.571429e-02  ... -3.571429e-02 -3.571429e-02

[5 rows x 47 columns]

In [0]:
final_movie.head()

product_id     12        60        102     ...    71521     78129     517162
customer_id                                ...
97309        0.298232  0.350232  0.188107  ...  0.044547  0.571429  0.017619
110441       0.298232  0.350232  0.188107  ...  0.044547  0.571429  0.017619
111930       0.298232  0.350232  0.188107  ...  0.044547  0.571429  0.017619
111932       0.298232  0.350232  0.188107  ...  0.044547  0.571429  0.017619
115345       0.298232  0.350232  0.188107  ...  0.044547  0.571429  0.017619

[5 rows x 47 columns]

In [0]:
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()
filename = 'final_user.pickle'
pickle.dump(b, open(filename, 'wb'))

In [0]:
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()
filename = 'final_movie.pickle'
pickle.dump(similarity_with_movie, open(filename, 'wb'))

In [0]:

def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [0]:
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

                 top1      top2      top3  ...     top28     top29     top30
customer_id                                ...
97309        50772322  25659526  45286795  ...  49242514  15176382  32133759
110441       53076619  14019850  14414189  ...  13529886  14435268  14458914
111930       27278599  18012236  14414189  ...  39406815  39532206  46917633
111932        1079519  46827382  29671204  ...    196208  18653653  43773798
115345       41659434   1578888   4888142  ...  30959841  21204337  48959028

[5 rows x 30 columns]

In [0]:
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

                 top1      top2      top3  ...     top28     top29     top30
customer_id                                ...
97309        45286795  50772322  14908944  ...  41861544  51168531  49242514
110441       48424535  31678700  29340349  ...  38195398  50421178  38518519
111930        1119536  46917633  42133558  ...  40085728  13895839  48805811
111932        1079519  48805811   7822109  ...  44239442  14019850  25328707
115345       41659434   4888142  39472629  ...  14783707  30987150   3698606

[5 rows x 30 columns]

In [0]:

def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.customer_id == user1].merge(
    Rating_avg[Rating_avg.customer_id == user2],
    on = "product_id",
    how = "inner" )
    return common_movies.merge( movies, on = 'product_id' )

In [0]:

a = get_user_similar_movies(99730,99730)
a = a.loc[ : , ['reviews.rating_x_x','reviews.rating_x_y','name']]

a.head()

Empty DataFrame
Columns: [reviews.rating_x_x, reviews.rating_x_y, name]
Index: []

In [0]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['customer_id'] == user,'reviews.rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [0]:
score = User_item_score(45880701,14224)
print("score (u,i) is",score)

score (u,i) is 3.101815541770479

In [0]:

Rating_avg = Rating_avg.astype({"product_id": str})
Movie_user = Rating_avg.groupby(by = 'customer_id')['product_id'].apply(lambda x:','.join(x))

In [0]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['customer_id'] == user,'reviews.rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'product_id':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(10)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='product_id')
    Movie_Names = Movie_Name.name.values.tolist()
    return Movie_Names

In [0]:
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id : 110441")
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 45880701

The Recommendations for User Id : 110441

Microsoft Surface Pro 4 Type Cover with Fingerprint ID
Midland Weather Alert Radio, 1.0 CT
Sony SRSXB30/BLK XB30 Portable Wireless Speaker with Bluetooth
Sony LBT-GPX555 Mini-System with Bluetooth and NFC
Boytone - 2500W 2.1-Ch. Home Theater System - Black Diamond
JBL - 6" x 8" 2-Way Coaxial Car Speakers with Polypropylene Cones (Pair) - Black
Sony SRSHG1/BLK Hi-Res Wireless Speaker- Charcoal black
Verizon MiFi 6620L Jetpack 4G LTE Mobile Hotspot (Verizon Wireless)
CRX-322 CD Receiver
Slingbox M2
iHome Rechargeable Splash Proof Stereo Bluetooth Speaker - Black (IBT33BC)

In [0]:
filename = 'item,score.sav'
pickle.dump(User_item_score, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model(45880701, 14224)
print(result)

3.101815541770479

In [0]:
filename = 'user.csv'
pickle.dump(b, open(filename, 'wb'))

In [0]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model(45880701)
print(result)

TypeError: ignored

In [0]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(Test,final_movie))

ValueError: ignored